[DEFAULT]
# Now organization specific settings
organization = allen
# Now project specific -- that is the level where things would be placed
# according to the default scheme of things
project = human
description = "Allen institute human MRI/genetic data"

[genetic]
url = file:///home/yoh/proj/datalad/sample_htmls/microarray.html

# First fetch archived ones and place/tag/commit accordingly
include_href = well_known_file_download/177
# and only then enable fresh ones
#include_href = well_known_file_download/178
# regardless of the extract
filename_e = "%%(href_a)s.zip" %% locals()
# how do we figure out either it changed or not

[docs]
url = file:///home/yoh/proj/datalad/sample_htmls/Documentation
#url = http://help.brain-map.org/display/humanbrain/Documentation
include_href = download/attachments

