[DEFAULT]
# Now organization specific settings
incoming = repos/arjlover-fast
public = %(incoming)s
description = "film.arjlover.net: Collection of Soviet-era cartoons/films/audiobooks for kids"
# in general we are after videos
include_href = \.(avi|mpeg|mpg|mp3|mp4|ogg)$
# TODO: --relaxed
mode = fast

[multiki]
url = http://multiki.arjlover.net/multiki/
#url = file:///home/yoh/proj/datalad/sample_htmls/multiki.html
#include_href = szopie.avi$

# "INTERESTING" one -- just plain hierarchy where we need to get inside
[audiobooks]
url = http://audio.arjlover.net/audio/
include_href=.*
recurse=/$

[filmy]
url = http://film.arjlover.net/film/
#include_href = 01\.99\.avi$

#url = file:///home/yoh/proj/datalad/sample_htmls/films_short.html
## 
[filmiki]
url = http://filmiki.arjlover.net/filmiki/
#include_href = 01\.99\.avi$


[radioteatr]
url = http://radioteatr.arjlover.net
#url = file:///home/yoh/proj/datalad/sample_htmls/radio-theater_short.html
#include_href = \.mp3$
