[DEFAULT]
# Now organization specific settings
incoming = repos/1r/classes
public = %(incoming)s
description = "TEST TWO"
# in general we are after videos

#[cope7]
#url = http://www.onerussian.com/Sci/experiments/YHOB/feat-III-2nd-S1-19+22-30_z2.3_t0.05_gen_scan_sg.gfeat/cope7.feat/report.html

url = http://www.onerussian.com/classes/cis780/

[cis780/docs]
include_href = \.pdf$

[cis780/scripts]
include_href = \.tgz$
#filename = %(filename)s__/

