[DEFAULT]
# Now organization specific settings
incoming = repos/nih/videocast
public = %(incoming)s
description = "NIH VideoCasting and Podcasting archived videos"
# in general we are after videos but can't afford to download them
exec = from nihhelpers import get_video_filename
mode = fast

[recent]
url = http://videocast.nih.gov/pastevents.asp
include_href = .*File=\d*&download=1$
filename_e = get_video_filename(link, filename)
# NOT IMPLEMENTED! recurse_a = "Next Page"
# Initial run -- all the pages
recurse = .*pastevents\.asp\?c=0&s=\d+
#recurse = .*pastevents\.asp\?c=0&s=11$
# for subsequent runs not really needed to check the whole history
# and first few pages should be enough
#recurse = .*pastevents\.asp\?c=0&s=[123]$

# TODO: interesting use-case -- may be those should be added as alternative urls
#exclude_href_a = mirror

# TODO...  They should appear on http://videocast.nih.gov/PastEvents.asp
# but seems to be not yet there
# [videos]

# heavy -- so not for the laptop
# [materials]
# include_href = \.(zip|tar\.gz)
# # TODO: interesting use-case -- may be those should be added as alternative urls
# exclude_href_a = mirror
