[run]
# also measure Python subprocesses: datalad CLI, special remotes, ...
patch = subprocess
[paths]
source =
    datalad/
    */datalad/
[report]
# show lines missing coverage in output
show_missing = True
