.pybuild/
datalad.build/
/.idea
.coverage
/venv*
/cfgs
/dist
/fixtures
/diagrams
/build
/docs/build
/docs/source/generated
/.tox
/repos
tmp
.noseids
*.egg-info
*.pyc
*.pye
*.bak
.#*
.orig
.rej
.*.swp
.travis.yml.evil-bd
