Alejandro de la Vega <delavega@utexas.edu>
Anisha Keshavan <keshavan@berkeley.edu>
Benjamin Poldrack <benjaminpoldrack@gmail.com>
Benjamin Poldrack <bpoldrack@users.noreply.github.com>
Christian Olaf Häusler <der.haeusler@gmx.net> chris <chris@psyinfolaf.ovgu.de>
Debanjum Singh Solanky <debanjum@gmail.com> Debanjum <debanjum@gmail.com> debanjum <debanjum@gmail.com>
Jason Gors <jason.gors.work@gmail.com>
Michael Hanke <michael.hanke@gmail.com> mih <mih>
Torsten Stoeter <torsten.stoeter@lin-magdeburg.de>
Yaroslav Halchenko <debian@onerussian.com> 
Yaroslav Halchenko <site-github-private@onerussian.com>
Neuroimaging Community <committer@example.com>
Neuroimaging Community <test@nowhere.com>
Neuroimaging Community <test@example.com>
