Alejandro de la Vega <delavega@utexas.edu>
Alex Waite <alexqw85@gmail.com> Alex Waite <alex@waite.eu>
Andy Connolly <andrew.c.connolly@dartmouth.edu> <andycon@users.noreply.github.com>
Anisha Keshavan <keshavan@berkeley.edu>
Benjamin Poldrack <benjaminpoldrack@gmail.com> <bpoldrack@users.noreply.github.com>
Christian Mönch <christian.moench@web.de> Christian Moench <christian.monch@conax.com>
Christian Olaf Häusler <der.haeusler@gmx.net> chris <chris@psyinfolaf.ovgu.de>
Dave MacFarlane <driusan@gmail.com> Dave MacFarlane <dave.macfarlane@mcin.ca>
Dave MacFarlane <driusan@gmail.com> Dave MacFarlane <driusan@mcin.ca>
Debanjum Singh Solanky <debanjum@gmail.com> Debanjum <debanjum@gmail.com> debanjum <debanjum@gmail.com>
Gergana Alteva <glalteva@gmail.com> Gergana Alteva <glalteva@users.noreply.github.com>
Jason Gors <jason.gors.work@gmail.com>
John T. Wodder II <git@varonathe.org> <jwodder@users.noreply.github.com>
Kusti Skytén <kusti.skyten@helsinki.fi> <kskyten@users.noreply.github.com>
Michael Hanke <michael.hanke@gmail.com> mih <mih>
Neuroimaging Community <committer@example.com> blah <committer@example.com>
Neuroimaging Community <committer@example.com> <test@example.com>
Neuroimaging Community <committer@example.com> unknown <test@nowhere.com>
Taylor Olson <to.overlake@gmail.com> Taylor Olson <taylor.m.olson.21@dartmouth.edu>
Torsten Stoeter <torsten.stoeter@lin-magdeburg.de>
Vanessa Sochat <vsoch@users.noreply.github.com>
Yaroslav Halchenko <debian@onerussian.com>
Yaroslav Halchenko <debian@onerussian.com> <site-github-private@onerussian.com>
Yaroslav Halchenko <debian@onerussian.com> <yoh@smaug.cns.dartmouth.edu>
