# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: versioneer.py|\.all-contributorsrc|\.tributors
repos:
-   repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
    -   id: isort
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
    -   id: codespell
        exclude: datalad/tests/ca/certificate-key.pem
