# vim ft=yaml
# travis-ci.org definition for DataLad build
language: python

cache:
  - apt

matrix:
  include:
  - python: 2.7
  - python: 2.7
    env:
    - NOSE_WRAPPER="tools/eval_under_testloopfs"
  - python: 2.7
    env:
    # to test operation under root since also would consider FS "crippled" due to
    # ability to rewrite R/O files
    - NOSE_WRAPPER="sudo -E"
  - python: 3.3
  - python: 3.4
# not there -- don't try!
# - python: 3.5
# can't since coverage doesn't support it yet: https://bitbucket.org/ned/coveragepy/issues/391/getargspec-was-finally-removed-will-not-be
# - python: nightly

before_install:
  # The ultimate one-liner setup for NeuroDebian repository
  - bash <(wget -q -O- http://neuro.debian.net/_files/neurodebian-travis.sh)
  - sudo apt-get update -qq

install:
  # Install standalone build of git-annex for the recent enough version
  - sudo apt-get install git-annex-standalone zip
  - git config --global user.email "test@travis.land"
  - git config --global user.name "Travis Almighty"
  - git submodule update --init --recursive
  - cd ..; pip install -q coveralls; cd -
  - pip install -r requirements.txt
  - pip install -e .

script:
  - DATALAD_LOGLEVEL=INFO $NOSE_WRAPPER nosetests -v --with-doctest --with-cov --cover-package datalad --logging-level=INFO --failed

after_success:
  - coveralls

after_failure:
  - DATALAD_LOGLEVEL=DEBUG $NOSE_WRAPPER nosetests -s -v --with-doctest --with-cov --cover-package datalad --logging-level=DEBUG --failed
