# Theoretically we don't want -e here but ATM pip would puke if just .[full] is provided
# Since we use requirements.txt ATM only for development IMHO it is ok but
# we need to figure out/complaint to pip folks
# For now, until https://github.com/GrahamDumpleton/wrapt/issues/98 resolved
# we should use our version which allows to disable extension(s)
git+https://github.com/yarikoptic/wrapt@develop
-e .[devel]

