.pybuild/
datalad.build/
/.idea
.coverage
/venv*
/cfgs
/dist
/fixtures
/diagrams
/build
/docs/build
/docs/source/generated
/docs/source/_extras/schema.json
/.tox
/repos
tmp
.noseids
*.egg-info
*.py[coe]
*.bak
.#*
.orig
.rej
.*.swp
.travis.yml.evil-bd
.asv
