#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@ --with python2 --buildsystem=python_distutils

override_dh_auto_test:
	: # will be performed after installation so we have access to generated entry points etc

# for now just relying on providing python interface for a single version
override_dh_auto_install:
	dh_auto_install
	PYPATH=$$(find $(CURDIR)/debian/datalad/usr -iname datalad -type d | xargs dirname); \
		cd debian/datalad; PYTHONPATH=$$PYPATH PATH=$$PATH:$(CURDIR)/debian/datalad/usr/bin/ nosetests -s -v $$PYPATH/datalad
