[provider:NSIDC]
# might be a little too wide, in particular if some data is public
url_re = https://.*\.nsidc.org/.*
authentication_type = http_auth
credential = NSIDC
# NSIDC ATM does not return a 403 for non-auth access
# with our DataLad User-Agent string.  This might help to
# detect fetching content which is just a login page
http_auth_failure_re = input\s*type=.password

[credential:NSIDC]
type = user_password
