name: Docs

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Set up environment
      run: |
        git config --global user.email "test@github.land"
        git config --global user.name "GitHub Almighty"
    - uses: actions/checkout@v4
    - name: Set up Python 3.8
      uses: actions/setup-python@v5
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install ".[devel-docs]"
        sudo apt-get install p7zip
    - name: Build docs
      run: |
        make -C docs html doctest;
    - name: Test building manpages
      run: |
        # with custom date
        DATALAD_SOURCE_EPOCH=100000000 python setup.py build_manpage
        grep '\.TH "datalad" "1" "1973' ./build/man/datalad.1
        # no custom date - should be good for the next 980 years
        python setup.py build_manpage
        grep '\.TH "datalad" "1" "2' ./build/man/datalad.1
    - name: Test for correct (unescaped) slashes
      run: |
        grep '\-\-help' docs/build/html/generated/man/datalad-create.html
