name: Auto-release on PR merge

on:
  # This action should be run in workflows triggered by `pull_request_target`
  # (not by regular `pull_request`!)
  pull_request_target:
    branches:
      # Create a release whenever a PR is merged into one of these branches:
      - maint
    types:
      - closed
  # Allow manually triggering a release via a "Run workflow" button on the
  # workflow's page:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    # Only run for manual runs or merged PRs with the "release" label:
    if: >
      github.event_name == 'workflow_dispatch'
         || (github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'release'))
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITMATE_GITHUB_TOKEN }}
          # Check out all history so that the previous release tag can be
          # found:
          fetch-depth: 0

      - name: Install pandoc
        run: sudo apt-get update && sudo apt-get install -y pandoc

      - name: Prepare release
        uses: datalad/release-action/release@v1
        with:
          token: ${{ secrets.GITMATE_GITHUB_TOKEN }}
          pypi-token: ${{ secrets.PYPI_TOKEN }}
          pre-tag: |
            make update-changelog
            perl -pli -e "s/^version:.*/version: $new_version/" CITATION.cff
            git add docs/source/changelog.rst CITATION.cff
            git commit -m '[skip ci] Update docs/source/changelog.rst and CITATION.cff'
