name: Test on macOS

on:
    - pull_request
    - push

jobs:
  test:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        install_scenario:
          - brew
          - snapshot
    steps:
    - name: Set up environment
      run: |
        brew install exempi
        git config --global user.email "test@github.land"
        git config --global user.name "GitHub Almighty"


    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - name: Install git-annex
      run: |
        pip install datalad-installer
        datalad-installer --sudo ok -E new.env git-annex -m ${{ matrix.install_scenario }}
        . new.env
        echo "PATH=$PATH" >> "$GITHUB_ENV"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install coverage

    - name: WTF!?
      run: |
        datalad wtf

    - name: Run tests
      run: |
        mkdir -p __testhome__
        cd __testhome__
        python -m pytest -c ../tox.ini -s -v --cov=datalad --cov-report=xml --pyargs datalad.core datalad.support

    - name: Upload coverage report to Codecov
      uses: codecov/codecov-action@v3
      with:
        file: __testhome__/coverage.xml
